<div class="container">
  <h1>Create the restaurant</h1>
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.error_notification %>

    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"], prompt: "choose the category", selected: "chinese" %>

    <%= f.button :submit %>
  <% end %>
</div>
